<div class="card shadow card-theme h-100">
  <div class="card-header card-header-theme d-flex justify-content-between">
    <h5 class="mb-0">{{ server().name }}</h5>
    <span
      class="badge fs-6"
      [ngClass]="{
        'bg-soft-success': server().isOnline,
        'bg-soft-danger': !server().isOnline,
      }"
      >{{ server().isOnline ? "Online" : "Offline" }}</span
    >
  </div>
  <div class="card-body card-body-theme text-white">
    {{ server().description }}
    <div class="mt-3 d-grid">
      <button
        type="button"
        [appButtonLoading]="isLoading"
        (click)="toggleStatus()"
        class="btn"
        [ngClass]="{
          'btn-danger': server().isOnline,
          'btn-success': !server().isOnline
        }"
      >
        <span *ngIf="!isLoading()">
          {{ server().isOnline ? "Deactivate" : "Activate" }}
        </span>
        <app-spinner *ngIf="isLoading()"></app-spinner>
      </button>
    </div>
  </div>
</div>
