<div class="section-container">
  <h2>Latest Orders</h2>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Amount</th>
        <th scope="col">Order date</th>
        <th scope="col">Delivery date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders; let index = index">
        <td>{{ index + 1 }}</td>
        <td>{{ order.customer.name }}</td>
        <td>{{ order.total | currency }}</td>
        <td>{{ order.placed | date: 'short' }}</td>
        <td>{{ order.fulfilled | date: 'short' }}</td>
        <td class="fs-5">
          <span class="badge"
            [ngClass]="{
              'bg-danger': order.status === 'cancelled',
              'bg-success': order.status === 'fulfilled',
              'bg-warning text-black': order.status === 'pending',
            }"
            >{{ order.status }}</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
