<div class="section-container">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-4 mb-3">
      <div class="card mb-3 shadow card-theme h-100">
        <div class="card-header card-header-theme">
          <h5 class="mb-0">Daily orders</h5>
        </div>
        <div class="card-body card-body-theme text-white pb-0">
          <app-bar-chart />
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4 mb-3">
      <div class="card mb-3 shadow card-theme h-100">
        <div class="card-header card-header-theme">
          <h5 class="mb-0">Orders by customer</h5>
        </div>
        <div class="card-body card-body-theme text-white pb-0">
          <app-pie-chart />
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 mb-3">
      <div class="card mb-3 shadow card-theme h-100">
        <div class="card-header card-header-theme">
          <h5 class="mb-0">Orders by country</h5>
        </div>
        <div class="card-body card-body-theme text-white pb-0">
          <app-pie-chart />
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 mb-3">
      <div class="card mb-3 shadow card-theme h-100">
        <div class="card-header card-header-theme">
          <h5 class="mb-0">Orders by product</h5>
        </div>
        <div class="card-body card-body-theme text-white pb-0">
          <app-line-chart />
        </div>
      </div>
    </div>
  </div>
</div>
